In [1]:
import pandas
import json

In [2]:
data_frame = pandas.read_csv(
    './data_in/Stations_2017.csv',
#    parse_dates=[
#        'last_update',
#        'input_date',
#        'date_photo',
#    ],
    infer_datetime_format=True,
    na_values=['']
)

In [3]:
data_frame[data_frame.columns[:10]].head()

   code                            name   latitude  longitude
0  7015             LaSalle / 4e avenue  45.430740 -73.591911
1  6714               LaSalle / Sénécal  45.434434 -73.586694
2  6712              LaSalle / Crawford  45.437914 -73.582740
3  6715  Natatorium (LaSalle / Rolland)  45.444408 -73.575568
4  7048                 Métro Angrignon  45.446534 -73.603541

In [4]:
data_frame.dtypes

code           int64
name          object
latitude     float64
longitude    float64
dtype: object

In [5]:
json_result_string = data_frame.to_json(
    orient='records', 
    double_precision=12,
    date_format='iso'
)
json_result = json.loads(json_result_string)

In [6]:
geojson = {
    'type': 'FeatureCollection',
    'features': []
}
for record in json_result:
    geojson['features'].append({
        'type': 'Feature',
        'id': record['code'],
        'geometry': {
            'type': 'Point',
            'coordinates': [record['longitude'], record['latitude']],
        },
        'properties': record,
    })

In [7]:
with open('./data_out/Stations_2017.geojson', 'w') as f:
    f.write(json.dumps(geojson, indent=2))